:root {
    --primary-color: ;
    --secondary-color: ;
    --bg-color: #3D5E89;
    --red-bg-color: #E64C4C;
    --pink-bg-color: #DB5CB5;
    --orange-bg-color: #ED9247;
    --lightblue-bg-color: #8E8AFF;
    --green-bg-color: #5E9E6C;
    --white: #ECECEC;
    --black: ;

    --cta-green: #58CC6F;
    
    --heading-font: Fredoka;
    --heading-size: 2.2rem;
    --text-font: Montserrat;
    --text-size: 1.2rem;

    --box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.23);
}

@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

@font-face {
    font-family: Fredoka;
    src: url(./../fonts/FredokaOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.heading {
    font-family: var(--text-font);
    font-size: var(--heading-size);
    color: var(--white);
}

.main-text {
    font-family: var(--text-font);
    color: var(--white);
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100vw;
    align-items: center;
    padding: 0 1rem;
}

.header-logo {
    width: 5rem;
}

.intro {
    height: 100vh;
}

.intro-shadow-container {
    position: absolute;
    filter: drop-shadow(0px 7px 3px rgba(50, 50, 0, 0.5));
    height: 115vh;
    width: 100vw;
    z-index: -1;
    top: 0;
}

.intro-bg-red {
    position: absolute;
    z-index: -1;
    top: 0;
    clip-path: polygon(65% 0%, 100% 0%, 100% 55%, 0% 100%, 0% 30%);
    height: 115vh;
    width: 100vw;
    background-color: var(--red-bg-color);
    box-shadow: var(--box-shadow);
}

.intro-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    font-size: 1.2em;
    color: var(--white);
    font-family: var(--text-font);
}

.intro-btn-container {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-between;
}

.to-order-btn {
    background-color: var(--cta-green);
    width: 10rem;
}

.read-more-btn {
    background-color: var(--lightblue-bg-color);
    height: 3.5rem;
}

.intro-ani-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10rem);
}

.intro-ani-logo {
    width: 20rem;
    height: 20rem;
    display: flex;
}

/* ABOUT SECTION */

.about {
    margin: 5rem 2rem 0 2rem;
}
.about-clock-container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 3rem 0;
}

.about-text {
    text-align: left;
    width: 13rem;
}

.about-clock {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid .2rem var(--white);
    position: relative;
    background: var(--bg-color);
}

.about-clock::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-image: linear-gradient(var(--bg-color) 0%, var(--bg-color) 48%, var(--white) 48%, var(--white) 52%, var(--bg-color) 52%, var(--bg-color) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, var(--white) 48%, var(--white) 52%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0) 100%);
}

.about-clock::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, var(--white) 48%, var(--white) 52%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0) 100%);
}

.about-clock__arm {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    z-index: 1;
    animation: clock 60s linear infinite;
}

.about-clock__arm:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 1.8rem;
    border-radius: 1rem;
    background-color: var(--white);
    top: calc(50% - .1rem);
    left: calc(50% - .1rem);
    z-index: 1;
}

.about-clock__arm-short {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0%);
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    z-index: 1;
    animation: clock 2s linear infinite;
}

.about-clock__arm-short:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 1.4rem;
    background-color: var(--white);
    top: calc(50% - .7rem);
    left: calc(50% + .7rem);
    transform: rotate(90deg)
}

@keyframes clock {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);

    }
}

/* CREATOR SECTION */

.creator {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
.about-shadow-container {
    position: absolute;
    filter: drop-shadow(0px 7px 3px rgba(50, 50, 0, 0.5));
    height: 115vh;
    width: 100vw;
    z-index: -1;
}


.about-bg-orange {
    position: absolute;
    z-index: -1;
    clip-path: polygon(0% 30%, 100% 0%, 100% 60%, 0% 100%, 0% 60%);
    height: 50vh;
    width: 100vw;
    background-color: var(--orange-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg-orange-heading {
    font-family: var(--text-font);
    color: var(--white);
    font-size: var(--heading-size);
    text-align: center;

}



/* Regler side */

.rules-cta {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--cta-green);
    color: var(--white);
    padding: 0.8rem 1rem;
    border-radius: 7px;
    font-weight: 700;
    z-index: 3;
}

.rules-logo-container {
    box-shadow: var(--box-shadow);
    position: absolute;
    top: -10rem;
    left: -6rem;
    width: 12rem;
    height: 30rem;
    background-color: var(--red-bg-color);
    transform: rotate(45deg);
}

.rules-logo {
    position: absolute;
    width: 6rem;
    top: 1rem;
    left: 1rem;
}

.rules-container {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.gallery {
    height: 19rem;
    margin-top: 1rem;
  }


.gallery-cell {
  width: 62%;
  height: auto;
  margin-right: 2rem;
  background: var(--green-bg-color);
  counter-increment: gallery-cell;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 7px;
  filter: drop-shadow(var(--box-shadow));
  color: var(--white);
  font-family: var(--text-font);
  font-size: var(--text-size);
  transform: scale(0.9);
}

.is-selected {
    animation: scaleRules 0.3s ease-in forwards;
}


@keyframes scaleRules {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.0);
    }
}

.flickity-prev-next-button {
    background-color: rgba(161, 161, 161, 0.6);
}

.flickity-slider {
  height: 25rem;
}

.flickity-viewport {
    height: auto;
}

.flickity-page-dots {
  margin-bottom: 0;
}

.dot {
    width: 20px !important;
    height: 20px !important;
}

.flickity-page-dots > .is-selected:nth-child(1) {
    background: var(--red-bg-color);
    transform: scale(1.1) !important;
  }

.flickity-page-dots > .is-selected:nth-child(2) {
    background: var(--orange-bg-color);
    transform: scale(1.1) !important;
  }

  .flickity-page-dots > .is-selected:nth-child(3) {
    background: var(--green-bg-color);
    transform: scale(1.1) !important;
  }

.red-rules {
    background-color: var(--red-bg-color);
}

.yellow-rules {
    background-color: var(--orange-bg-color);
}

.green-rules {
    background-color: var(--green-bg-color);
}
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
}

.scene {
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 80px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-200px);
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: turn 40s linear infinite;
}

@keyframes turn {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.carousel__cell {
    display: flex;
    justify-content: center;
    align-items: center;
  filter: drop-shadow(var(--box-shadow));
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(200px); }
.carousel__cell:nth-child(2) { transform: rotateY( 45deg) translateZ(200px); }
.carousel__cell:nth-child(3) { transform: rotateY( 90deg) translateZ(200px); }
.carousel__cell:nth-child(4) { transform: rotateY(135deg) translateZ(200px); }
.carousel__cell:nth-child(5) { transform: rotateY(180deg) translateZ(200px); }
.carousel__cell:nth-child(6) { transform: rotateY(225deg) translateZ(200px); }
.carousel__cell:nth-child(7) { transform: rotateY(270deg) translateZ(200px); }
.carousel__cell:nth-child(8) { transform: rotateY(315deg) translateZ(200px); }



  .about-bg-blue {
    position: absolute;
    z-index: 1;
    clip-path: polygon(0% 20%, 100% 5%, 100% 100%, 0% 90%, 0% 70%);
    height: 100vh;
    width: 100vw;
    background-color: var(--lightblue-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg-blue-heading {
    margin: 0 2rem;
}

.creator-client-container {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 40rem;
    filter: drop-shadow(15px 0px 5px rgba(0, 0, 0, 25%));
}

.creator-client-image {
    position: absolute;
    bottom: -8rem;
    right: -2rem;
    width: 120%;
}

/* CONTACT  */

.contact {
    margin-top: 42rem;
    height: 100vh;
    width: calc(100vw - 4rem);
}

.form-container {
    width: calc(100vw - 4rem);
    height: 32rem;
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

.form-input, .form-textarea {
    width: 80%;
}


/* SETUP STYLING */
.setup-container {
    margin-top: 10rem;
    padding: 0 1rem;
}

.setup-heading, .rules-heading, .point-heading {
    color: var(--white);
    font-family: var(--text-font);
    font-size: var(--heading-size);
}

.setup-heading {
    margin-bottom: 3rem;
}

.setup-flex {
    display: flex;

}

.setup-numbers {
    position: relative;
    color: var(--white);
    height: 40rem;
    display: flex;
    flex-direction: column;
}

.setup-numbers > p {
    border-radius: 50%;
    padding: 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--text-font);
    display: block;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--box-shadow);
} 

.setup-number-red {
    background-color: var(--red-bg-color);
}
.setup-number-yellow {
    background-color: var(--orange-bg-color);
    margin-top: 9rem;
}
.setup-number-green {
background-color: var(--green-bg-color);
margin-top: 8.5rem;

}

.setup-text {
    height: 40rem;
    color: var(--white);
    font-family: var(--text-font);
    font-size: var(--text-size);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setup-text > div {
    margin-top: 2.5rem;
    height: 10rem;
}


.setup-text > div > p {
    color: var(--white);
    font-family: var(--text-font);
    font-size: var(--text-size);
    font-weight: 500;
    height: 8rem !important;
    display: block;
    text-align: left;
}

/* .setup-text-first {
    margin-top: 2rem;
}
.setup-text-second {
    margin-top: 9rem;
}
.setup-text-third {
    margin-top: 9rem;
}
 */
.setup-line {
    position: absolute;
    z-index: -1;
    width: 2px;
    height: 35rem;
    background-color: var(--white);
    top: 0;
    left: 1.7rem;
}

.point-container {
    margin-top: 6rem;
    padding: 0 1.5rem;
}

.point-heading {
    margin-bottom: 2rem;
}

.point-chips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    margin: 0 2rem;
}

.point-chips > p {
    border-radius: 50%;
    background-color: var(--red-bg-color);
    height: 1.2rem;
    width: 1.2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-family: var(--text-font);
    font-weight: 500;
}



.form-input {
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    margin: .5rem 0;
    background-color: var(--bg-color);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 25%);
    padding-left: 1rem;
    color: var(--white);
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: var(--white);
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
}

.form-textarea {
    border-radius: 1rem;
    margin-top: .5rem;
    border: none;
    height: 20rem;
    background-color: var(--bg-color);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 25%);
    color: var(--white);
    padding-left: 1rem;
    padding-top: 1rem;
    color: var(--white);
}

.contact-heading {
    margin: 3rem 0;
}

.contact-text {
    margin: 2rem 0;
}

.form-btn {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--cta-green);
    margin-top: .5rem;
    color: var(--white);
    font-size: var(--text-size);
}

/* FOOTER */

footer {
    height: 100vh;
    margin-top: 2rem;
}

.footer-bg-green {
    position: absolute;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    height: 115vh;
    width: 100vw;
    background-color: var(--green-bg-color);
    box-shadow: var(--box-shadow);
}

.footer-content-container {
    margin: 0 2rem;
    margin-top: 10rem;
    width: calc(100vw - 4rem);
}

.footer-heading {
    color: var(--white);
    font-family: var(--text-font);
    font-size: var(--text-size);
    margin-bottom: 3rem;
}

.footer-some-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.some-icon {
    width: 4rem;
    height: 4rem;
}

.footer-tankespil-logo {
    width: 10rem;
    align-self: center;
    margin-bottom: 2rem;
}

.footer-agency-logo {
    width: 15rem;
    align-self: center;
}